{{ content }} {{# {{ breadcrumbs }} {{ content }}
<div class="hero">
    <div class="main-banner-section" style="background-color: #000">
        <div class="content-column" style="position: relative">
            <div
                class="banner-cont-bold-gold"
                style="text-align: center; max-width: 545px"
            >
                <h1>{{ text_field }}</h1>
                <p>{{ textarea_field }}</p>
                <a
                    target="_blank"
                    style="
                        text-align: center;
                        margin: 20px auto 0;
                        display: block;
                        width: 200px;
                    "
                    class="jquery-button white-button black-lettering"
                    href="/Promotions"
                    >{{ terms_and_conditions }}</a
                >
            </div>
        </div>
    </div>
</div>
#}}
